* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.container {
    margin: 10px auto;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #f1f1f1;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 0px, 15px;
}

button:hover {
    background-color: #45a049;
}

p {
    text-align: center;
}

a {
    color: #4CAF50;
}

a:hover {
    color: #45a049;
}



#password {
    margin-bottom: 30px;
}


body {

    background-image: linear-gradient(to left,
            #020024,
            #277909 35%,
            #00d4ff 100%)
}